* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Чтобы padding не раздувал ширину блоков */
}

/* Общий ограничитель ширины для всех секций */
.wrapper, 
.container, 
.zero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Хедер */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-family: sans-serif;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-img {
    height: 50px;
}

.nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-menu li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-family: sans-serif;
}

hr {
    border: none;
    border-top: 1px solid #F5F4FF;
}

/* Кнопка "Заказать звонок" */
.zakaz {
    padding: 12px 25px;
    background-color: #2DBC7C;
    color: white;
    border-radius: 20px;
    font-family: sans-serif;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* Главный блок (голубой фон) */
.box1 {
    background-color: #f5f4ff;
    padding: 60px 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 3em;
    line-height: 1.5;
    margin-bottom: 20px;
}

.book {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;
    line-height: 1.5;
}

.boygirl {
    width: 100%;
    display: block;
}

/* Кнопка с номером телефона */
.special-button {
    display: inline-grid;
    grid-template-columns: auto auto;
    border: none;
    background: white;
    border-radius: 10px 45px 10px 45px;
    overflow: hidden;
    cursor: pointer;
}
/* Эффект при клике: меняем фон внутренних блоков */
.special-button:active .number-special-button {
    background-color: #2DBC7C;
    color: white;
}
.number-special-button {
    background-color: #E8E5FB;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 180px;
}

.color-special-button {
    background-color: #5B45FF;
    padding: 15px 30px;
    color: white;
    display: flex;
    align-items: center;
}

/* Блок с карточками преимуществ */
.zero {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.one {
    background-color: white;
    padding: 15px 25px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.one img {
    width: 40px;
    height: 40px;
}

.one p {
    font-family: sans-serif;
    font-size: 14px;
}